<br>
<%= link_to 'Article Listings', articles_path(), class: "btn btn-primary" %>
<% if admin? %>
    <div class="float-sm-right">
        <%= render "article_actions", :article_id => article.id   %>
    </div>
<% end %>