
<div class="card">

<div class="card-header">Article Information</div>
<div class='card-body'>
    <p class='card-text'>
        <!-- Publication Information -->
        <i class="fa fa-newspaper-o" aria-hidden="true" title="Published on"></i>
        <%= article.created_at.strftime('%B %d, %Y') %><br />
        <% if @article.created_at.to_date != article.updated_at.to_date %>
            <i class="fa fa-pencil-square-o" aria-hidden="true" title="Updated on"></i>
            <%= article.updated_at.strftime('%B %d, %Y') %> <br />
        <% end %>
        
        <!-- View Counter -->
        <i class="fa fa-eye" aria-hidden="true"></i>
        <%= @article.impressionist_count(filter: :ip_address) %><br />
        
        <!-- Tags -->
        <% if article.tags? %>
            <i class="fa fa-tags" aria-hidden="true"></i>
            <%= raw article.styled_tags %>
        <% end %>
    </p>
</div>
