<div class="row">
    <div class="col-12">
        <div class="article-card">
            <div class="article-card-title">
                <%= link_to article.title, article_path(article) %>
            </div>
            <div class="article-card-date">
                <%= article.created_at.strftime("%b %d, %Y") %>
            </div>
            <div class="article-card-body">
                <%= article.meta_data_description %>
            </div>
        </div>
    </div>
</div>
