<% obj.each do |article| %>
    <div class="lesson-card">
        <div class="row">
            <div class="col-12">
                <%= render "article_card", :article => article %>
            </div>
        </div>
    </div>
    <hr class="article-card-divider">
<% end %>