<div class="row">
    <div class="col-xs-12">
        <div class="">
            <h1>Listing Articles</h1>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="">
            <%= render 'article_list', obj: @articles %>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="">
            <div class="digg_pagination" align="center">
                <%= will_paginate %>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="">
            <%= link_to 'New', new_article_path(), class: "btn btn-success pull-right" %>
        </div>
    </div>
</div>