<header class="intro-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Welcome!</h1>
                        <hr class="small">
                        <span class="subheading">I hope you find what you are looking for.</span>
                    </div>
                </div>
            </div>
        </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <p id="welcome-text">This site was launched to promote the diffusion of knowledge within the computer science community, especially for those who are self-taught. Every soften I find myself trying to perform a task for which no up-to-date guide is available, leaving me to find a solution on my own. This usually requires visiting multiple sources and gaining a deeper understanding for the problem at hand, which can become time consuming and overwhelming. Therefore, to prevent others from having to endure the same struggle as me, I will be consolidating what I learned throughout my journeys.</p>
        </div>
    </div>
</div>