<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= title 'Welcome' %>!</h3>
  </div>
  <div class="panel-body">
    <p>I started this page to post guides for tasks that I find interesting and useful.</p>
  </div>
</div>