// Place all the styles related to the Article controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.article-index-title {
    font-size: 24px;
}
.article-index-body {
    font-size: 14px;
}
.article-timestamps {
    font-size: 14px;
}
.article-list-title-divider{
    margin-top: 5px !important;
    margin-bottom: 40px !important;
}
#article-show-title{
    font-size: 42px;
    margin-top: 100px;
}
#article-show-body{
    padding: 0 10px;
}
#article-title-body-separator{
    margin-top: 5px;
    margin-bottom: 15px;
    border-top: 1px solid black;
}
#article-show-sidebar{
    margin-top: 100px;
}
#article-show-sidebar-title{
    font-family: 'Lora';
    font-size: 1.5rem;
}
#article-show-sidebar-timestamps{
    margin-left: 2.5rem;
    color: #2d2d2d;
}