// Place all the styles related to the Article controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.article-index-title {
    font-size: 24px;
}
.article-index-body {
    font-size: 14px;
}
.article-timestamps {
    color: gray;
    margin-top: -10px;
    font-size: 14px;
    margin-left: 8px;
}
#article-show-title{
    font-size: 42px;
}
#article-title-body-separator{
    margin-top: 5px;
    margin-bottom: 15px;
    border-top: 1px solid black;
}