.btn {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 750;
    letter-spacing: 1px;
    border-radius: 0;
    padding: 10px 20px;
  }