body{
    background-color: #ffffff;
}
.cliente {
	border: #cdcdcd medium solid;
	border-radius: 10px;
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 800;
}
code{
    //background: transparent !important;
}
.alert{
    margin-top: 10px;
}