.page-header {
    padding-bottom: 11px;
    margin: 48px 0 0;
    border-bottom: 1px solid #eeeeee;
}
.next-episode-card {
    border-bottom: 1px solid #efefef;
    color: #333;
    display: block;
    padding: 10px 0px;
    position: relative;
}
.sidebar-section {
    border-top: 1px solid #eeeeee; 
}