<h1>Tags</h1>

<div class="row">
    <div class="col-8">
        <div class="panel panel-default">
            <div class="panel-body">
                <%= render 'articles/article_list', obj: @articles %>
                <%= will_paginate(@articles, :renderer => PaginateHelper::LinkRenderer) %>
            </div>
        </div>
    </div>
    <div class="col-3 offset-1">
        <div class="card">
            <div class="card-header text-center">
               Topics 
            </div>
            <div class="card-body">
                <% @tags.each do |tag| %>
                   <%= link_to "#{tag.name}", articles_with_tags_path(tag: tag.name) %>
                   (<%= tag.taggings_count %>)<br>
                <% end %>
            </div>
        </div>
    </div>
</div>