<footer>
    <div class="container">
        <div class="row">
            <hr>
            <p class="copyright text-muted"><center>Copyright &copy; <%= Time.current.year %> Jesus Chavez</center></p>
        </div>
    </div>
</footer>