<footer role="contentinfo">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="text-muted" id="copyright">
                    <small>© 2017, Jesus Chavez.</small>
                </div>
                <div>
                    <ul class="nav">
                        <li class="nav-item">
                            <%= link_to '<i class="fa fa-github fa-2x" aria-hidden="true" id="github"></i>'.html_safe, "https://github.com/jachavez06", class: "nav-link" %>
                        </li>
                    </ul>
                </div>
            </div>
            
        </div>
    </div>