<footer role="contentinfo">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="float-right text-muted"><small>© 2017, Jesus Chavez.</a></small></div>
            </div>
        </div>
    </div>
</footer>