<div class="panel">
  <div class="nb-error">
    <div class="error-code">500</div>
    <h3 class="font-bold">Internal Server Error</h3>
    <div class="error-desc">
      Uh oh... something on our end has broken. We are sorry for the inconvenience. <br/>
      The administrators have been notified and will work to resolve this issue.
    </div>
  </div>
</div>
